/* prevent mobile from changing flex-direction to col */
#header .navbar-nav {
    flex-direction: row;
}

#header .nav-link {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
/* ---- */

#header .nav-link {
    color: #212227;
}

#header .nav-link.active {
    color: #ABB9CF;
}

#header a:hover {
    text-decoration: none;
}