body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* html, body, #root, .main-container, .background {
  height: 100%;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #212227;
}

.background {
  position: absolute;
  /* width: 100%; */
  top: 0;
  left: 0;
  z-index: -1000;
  height: 100vh;
}

.background-row {
  height: 100%;
}

.background-strip {
  background: #aab9cf;
  height: 100%;
}

.main-container:not(#about) {
  background: #aab9cf;
}
